.u-section-1 .u-sheet-1 {
  min-height: 1075px;
}

.u-section-1 .u-text-1 {
  margin: 22px auto 0 0;
}

.u-section-1 .u-text-2 {
  margin: 36px auto 0 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  margin: 37px auto 0 525px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 127px auto 0 385px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  margin: -22px 271px 0 auto;
}

.u-section-1 .u-text-5 {
  font-weight: 700;
  margin: -21px 385px 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  margin: -19px auto 0 376px;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  margin: -21px auto 0 196px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: -21px auto 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 8px 389px 0 auto;
  padding: 1px 6px 2px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -29px auto 0 196px;
  padding: 1px 6px 2px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -28px auto 0 0;
  padding: 1px 6px 2px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -28px auto 0;
  padding: 1px 6px 2px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -28px auto 0 376px;
  padding: 1px 6px 2px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -30px 250px 0 auto;
  padding: 1px 6px 2px;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 19px 247px 0 auto;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: -21px auto 0 196px;
}

.u-section-1 .u-text-11 {
  font-weight: 700;
  margin: -21px auto 0 0;
}

.u-section-1 .u-text-12 {
  font-weight: 700;
  margin: -21px auto 0 376px;
}

.u-section-1 .u-text-13 {
  font-weight: 700;
  margin: -21px auto 0 516px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px auto 0 370px;
  padding: 1px 6px 2px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -28px auto 0 516px;
  padding: 1px 6px 2px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -28px 360px 0 auto;
  padding: 1px 6px 2px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -28px auto 0 196px;
  padding: 1px 6px 2px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -27px auto 60px 0;
  padding: 1px 6px 2px;
}

.u-section-1 .u-text-14 {
  font-weight: 700;
  margin: 109px 991px 0 0;
}

.u-section-1 .u-btn-13 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 40px 0;
  padding: 1px 6px 2px;
}

.u-section-1 .u-btn-14 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -152px auto 60px 243px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-btn-15 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 4px auto 0 281px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-btn-16 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 2px auto 0 166px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-btn-17 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 3px auto 0 203px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-btn-18 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 3px auto 0 243px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-btn-19 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 7px auto 0 192px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-btn-20 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 6px auto 0 179px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-btn-21 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 5px auto 0 374px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-btn-22 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 281px;
  padding: 3px 25px 5px 24px;
}

.u-section-1 .u-btn-23 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 3px auto 0 211px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-btn-24 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 15px auto 27px 203px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-text-15 {
  font-weight: 700;
  margin: 78px 1027px 16px 0;
}

.u-section-1 .u-btn-25 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -23px auto 0 247px;
  padding: 0 10px 0 9px;
}

.u-section-1 .u-btn-26 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -26px auto 60px 356px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-text-16 {
  font-weight: 700;
  margin: 60px 827px 39px 0;
}

.u-section-1 .u-btn-27 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -23px auto 0 247px;
  padding: 0 10px 0 9px;
}

.u-section-1 .u-btn-28 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -23px auto 60px 355px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-text-17 {
  font-weight: 700;
  margin: 60px 779px 0 0;
}

.u-section-1 .u-btn-29 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -23px auto 0 247px;
  padding: 0 9px 0 8px;
}

.u-section-1 .u-btn-30 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -25px auto 60px 356px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-text-18 {
  font-weight: 700;
  margin: 60px 739px 46px 0;
}

.u-section-1 .u-btn-31 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -25px auto 60px 244px;
  padding: 0 18px 0 16px;
}

.u-section-1 .u-btn-32 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -28px auto 60px 354px;
  padding: 1px 25px 2px 24px;
}

.u-section-1 .u-text-19 {
  font-weight: 700;
  margin: 60px 739px 27px 0;
}

.u-section-1 .u-btn-33 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -27px auto 60px 245px;
  padding: 0 18px;
}

.u-section-1 .u-text-20 {
  font-weight: 700;
  margin: 60px 739px 0 0;
}

.u-section-1 .u-btn-34 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -33px auto 60px 242px;
  padding: 0 18px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 163px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -133px;
    margin-right: 71px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 90px;
    margin-right: 470px;
    margin-left: 372px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -117px;
    margin-left: 373px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-left: 224px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 296px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 102px;
    margin-right: auto;
    margin-left: 372px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -128px;
    margin-left: 224px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 346px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 72px;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -128px;
    margin-left: 373px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -143px;
    margin-right: 50px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 24px;
    margin-right: 54px;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-left: 109px;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    margin-top: -22px;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-top: 76px;
    margin-left: 109px;
  }

  .u-section-1 .u-text-13 {
    width: auto;
    margin-left: 222px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: 6px;
    margin-left: 109px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -26px;
    margin-left: 224px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -130px;
    margin-right: 160px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -30px;
    margin-left: 109px;
  }

  .u-section-1 .u-btn-12 {
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: -798px;
  }

  .u-section-1 .u-text-15 {
    width: auto;
    margin-right: 827px;
  }

  .u-section-1 .u-text-16 {
    width: auto;
  }

  .u-section-1 .u-text-17 {
    width: auto;
  }

  .u-section-1 .u-text-18 {
    width: auto;
  }

  .u-section-1 .u-text-19 {
    width: auto;
  }

  .u-section-1 .u-text-20 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-top: 61px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 80px;
    margin-right: 832px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -24px;
    margin-left: 356px;
    padding: 1px 25px 2px 24px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 226px;
    margin-right: 72px;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -133px;
    margin-right: 616px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 163px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: -311px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 18px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 43px;
    margin-left: 247px;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -134px;
    margin-left: 244px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 7px;
    margin-right: auto;
    margin-left: 245px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -96px;
    margin-left: 245px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 295px;
    margin-left: 246px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -101px;
    margin-right: auto;
    margin-left: 247px;
    padding-right: 8px;
    padding-left: 7px;
  }

  .u-section-1 .u-text-9 {
    margin-top: -64px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-1 .u-text-10 {
    margin-top: 127px;
    margin-left: 0;
  }

  .u-section-1 .u-text-11 {
    margin-top: 16px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -313px;
    margin-left: 1px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 164px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -209px;
    margin-left: 245px;
    padding-right: 13px;
    padding-left: 11px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 157px;
    margin-left: 245px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -105px;
    margin-right: auto;
    margin-left: 237px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-top: 120px;
    margin-left: 247px;
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-1 .u-btn-12 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-left: 247px;
    padding-right: 10px;
    padding-left: 8px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -245px;
    margin-left: 1px;
  }

  .u-section-1 .u-btn-13 {
    margin-top: -24px;
    margin-bottom: 0;
    margin-left: 247px;
    padding-right: 11px;
    padding-left: 9px;
  }

  .u-section-1 .u-btn-14 {
    margin-top: -171px;
    margin-bottom: 0;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-15 {
    margin-top: 8px;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-16 {
    margin-top: 7px;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-17 {
    margin-top: 45px;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-18 {
    margin-top: -65px;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-19 {
    margin-top: 192px;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-20 {
    margin-top: 8px;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-21 {
    margin-top: -212px;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-22 {
    margin-top: 9px;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-23 {
    margin-top: 7px;
    margin-left: 356px;
  }

  .u-section-1 .u-btn-24 {
    margin-top: 8px;
    margin-bottom: 0;
    margin-left: 356px;
  }

  .u-section-1 .u-text-15 {
    margin-top: 76px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-25 {
    margin-top: -19px;
    padding-right: 12px;
    padding-left: 11px;
  }

  .u-section-1 .u-btn-26 {
    margin-top: -28px;
    margin-bottom: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: 7px;
    margin-right: 779px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-27 {
    margin-top: -19px;
    padding-right: 9px;
    padding-left: 8px;
  }

  .u-section-1 .u-btn-28 {
    margin-top: -26px;
    margin-bottom: 0;
    margin-left: 356px;
  }

  .u-section-1 .u-text-17 {
    margin-top: 9px;
    margin-right: 739px;
  }

  .u-section-1 .u-btn-29 {
    margin-left: 245px;
    padding-right: 18px;
    padding-left: 16px;
  }

  .u-section-1 .u-btn-30 {
    margin-bottom: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: 18px;
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-31 {
    margin-bottom: 0;
    padding-right: 14px;
    padding-left: 14px;
  }

  .u-section-1 .u-btn-32 {
    margin-bottom: 0;
  }

  .u-section-1 .u-text-19 {
    margin-bottom: 0;
  }

  .u-section-1 .u-btn-33 {
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    margin-top: 161px;
    margin-right: 659px;
    margin-left: 161px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 183px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 84px;
    margin-right: 0;
  }

  .u-section-1 .u-text-5 {
    margin-top: -242px;
    margin-right: -12px;
    margin-left: 291px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 163px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 166px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -22px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 3px;
    margin-left: 74px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -31px;
    margin-left: 161px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 72px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 91px;
    margin-left: 162px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -145px;
    margin-right: 128px;
    margin-left: 73px;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 72px;
    margin-left: 74px;
  }

  .u-section-1 .u-text-9 {
    margin-top: 141px;
    margin-left: 155px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -145px;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 139px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -17px;
  }

  .u-section-1 .u-text-13 {
    margin-top: 103px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -117px;
    margin-left: 72px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 94px;
    margin-left: 72px;
    padding-left: 19px;
    padding-right: 19px;
  }

  .u-section-1 .u-btn-10 {
    margin-top: -32px;
    margin-left: 153px;
  }

  .u-section-1 .u-btn-11 {
    margin-top: -149px;
    margin-left: 74px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 113px;
    margin-left: 74px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 618px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 74px;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 183px;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 183px;
  }

  .u-section-1 .u-text-15 {
    margin-right: 654px;
  }

  .u-section-1 .u-btn-25 {
    margin-left: 74px;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 183px;
  }

  .u-section-1 .u-text-16 {
    margin-right: 606px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 74px;
  }

  .u-section-1 .u-btn-28 {
    margin-left: 183px;
  }

  .u-section-1 .u-text-17 {
    margin-right: 566px;
  }

  .u-section-1 .u-btn-29 {
    margin-left: 72px;
  }

  .u-section-1 .u-btn-30 {
    margin-left: 183px;
  }

  .u-section-1 .u-text-18 {
    margin-right: 566px;
  }

  .u-section-1 .u-btn-31 {
    margin-left: 71px;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 181px;
  }

  .u-section-1 .u-text-19 {
    margin-right: 566px;
  }

  .u-section-1 .u-btn-33 {
    margin-left: 72px;
  }

  .u-section-1 .u-text-20 {
    margin-right: 566px;
  }

  .u-section-1 .u-btn-34 {
    margin-left: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    margin-right: 232px;
    margin-left: 101px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 190px;
  }

  .u-section-1 .u-text-5 {
    margin-top: -348px;
    margin-left: 73px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 103px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 104px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 140px;
    margin-left: 0;
  }

  .u-section-1 .u-text-9 {
    margin-top: 73px;
    margin-left: 68px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -112px;
  }

  .u-section-1 .u-text-11 {
    margin-top: 20px;
    margin-right: 88px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -313px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-12 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 191px;
  }

  .u-section-1 .u-btn-13 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-17 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-18 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-19 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-20 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-21 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-22 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-23 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-24 {
    margin-left: 0;
  }

  .u-section-1 .u-text-15 {
    margin-right: 227px;
  }

  .u-section-1 .u-btn-25 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-26 {
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 179px;
  }

  .u-section-1 .u-btn-27 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-28 {
    margin-left: 0;
  }

  .u-section-1 .u-text-17 {
    margin-right: 139px;
  }

  .u-section-1 .u-btn-29 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-30 {
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 139px;
  }

  .u-section-1 .u-btn-31 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-32 {
    margin-left: 0;
  }

  .u-section-1 .u-text-19 {
    margin-right: 139px;
  }

  .u-section-1 .u-btn-33 {
    margin-left: 0;
  }

  .u-section-1 .u-text-20 {
    margin-right: 139px;
  }

  .u-section-1 .u-btn-34 {
    margin-left: 0;
  }
}